openapi: 3.0.1
info:
  title: My API
  version: '1.0'
  description: some api that...
  termsOfService: https://www.example.com/tos
  contact:
    email: team@example.com
    name: Support
    url: https://www.example.com/contact
  license:
    name: License
    url: https://www.example.com/license
servers:
  - url: https://my-json-server.typicode.com/Trisk3lion/json-server
    variables: {}
    description: my github fake server
paths:
  /users:
    summary: User level operations
    description: create and read users
    get:
      summary: Fetches all users
      description: Fetches all users from the database
      operationId: fetchUsers
      responses:
        default:
          description: Default error sample response
      tags:
        - Users
  /attempts:
    summary: Fetches attempts made by users
    description: Fetches all attempts made by users and returns a vector with all attempts
    get:
      summary: Fetches attempts
      description: Fetches all attempts
      operationId: fetchAttempts
      responses:
        default:
          description: Default error sample response
      tags:
        - Attempts
